# secrets
.env
**/.env

# runtime data / app state
dockge/data/
stacks/adguard/work/
stacks/adguard/conf/
stacks/arr-stack/*_config/
stacks/arr-stack/logs/
stacks/arr-stack/configs/
stacks/arr-stack/server/
stacks/filecodec/html/
stacks/nginx-proxy-manager/data/
stacks/nginx-proxy-manager/letsencrypt/
stacks/stirling-pdf/trainingData/
stacks/stirling-pdf/extraConfigs/
stacks/stirling-pdf/customFiles/
stacks/tailscale/state/

.DS_Store
