.env
immich-data/
immich-upload/
jellyfin/
media/
uptime-kuma/
odv-share/uploads/
odv-share/
website/
alltalk-models/
my-server-bot/
venv/
pihole/
homepage/
speedtest-tracker/
dockge/
diun/

.DS_Store
